<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrea Bonomi
    </title>
    <link rel="shortcut icon" href="{{url_for('favicon') }}}"/>
    <link rel="icon" href="{{url_for('favicon') }}}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body class="">
    <!-- Navigaton -->
    <nav class="navbar navbar-expand-md sticky-top" id="mainbar">
        <div class="container-fluid d-flex justify-content-end">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav w-100 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Who I Am</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('skills') }}">My Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('contacts') }}">Contacts</a>
                    </li>
                    <li class="nav-item" id="change_theme">
                        <i class="far fa-moon"></i>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Name card -->
    <div class="container-fluid namecontainer">
        <div class="row padding namecard text-center vertical-center">
            <div class="col-lg-6">
                <h1 class="name">Andrea Bonomi</h1>
                <h5 class="description">Software developer and coding enthusiast</h5>
            </div>
            <div class="col-lg-6">
                <img src="{{ url_for('static', filename='images/andrea.png') }}" class="img-fluid myphoto">
            </div>
        </div>
    </div>