{% include "header.html" %}
    <!-- Who I am Section -->
    <section id="Whoiam">
        <div class="container-fluid padding mycontainer">
            <div class="row padding">
                <div class="col-lg-12 whoiam">
                    <h2 class="sectiontitle">Who I Am</h2>
                    <p>Hi, I am a software developer based in Brescia, Italy with more than 10 years of experience working for IT companies in the ERP business, implementing solutions based on Microsoft software, like Dynamics 365 Business Central (ex Dynamics NAV) and Microsoft SQL Server.</p>
                    <p>I love all about technology and the programming world and from childhood I’ve always been curious on how things works and always eager to learn new things.</p>
                    <p>Recently I’ve been trying to deepen my knowledge about web development with Python and Flask and I started studying mobile development using iOs and Swift.</p>
                    <p>My other passions include video games, rock music, classic literature and japanese culture (I’ve been studying the japanese language for some years now).</p>
                    <p>I'm always eager to embark in new projects that can stimulate me and allow me to acquire new knowledge.</p>
                </div>
            </div>
        </div>
    </section>
{% include "footer.html" %}