{% include "header.html" %}
    <!-- Skills Section -->
    <section id="Skills">
    <div class="container-fluid padding mycontainer">
        <h2 class="sectiontitle">My Skills</h2>

        <div class="skill_close">
            <i class="fas fa-code"></i>
            <div class="skill_title">Programming languages <i class="fas fa-chevron-right"></i></div>

            <div class="skill_list col-lg-6 padding"> 
                <div class="skill_item">
                    <div class="skill_point">
                        <div class="skill_point_title">HTML - CSS3</div>
                        <div class="skill_perc">70%</div>
                    </div>

                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>
                </div> 

                <div class="skill_item">
                    <div class="skill_point">
                        <h3 class="skill_point_title">Javascript - jQuery</h3>
                        <span class="skill_perc">50%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>
                </div>

                <div class="skill_item">
                    <div class="skill_point">
                        <h3 class="skill_point_title">Python - Flask</h3>
                        <span class="skill_perc">60%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>
                </div>

                <div class="skill_item">
                    <div class="skill_point">
                        <h3 class="skill_point_title">nodeJS - React</h3>
                        <span class="skill_perc">30%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>
                </div>

                <div class="skill_item">
                    <div class="skill_point">
                        <h3 class="skill_point_title">C/AL - AL</h3>
                        <span class="skill_perc">30%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>
                </div>

                <div class="skill_item">         
                    <div class="skill_point">
                        <h3 class="skill_point_title">Swift</h3>
                        <span class="skill_perc">70%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>
                </div>   

                <div class="skill_item">                  
                    <div class="skill_point">              
                        <h3 class="skill_point_title">C#</h3>
                        <span class="skill_perc">50%</span>
                    </div>  
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>
                </div>


                <div class="skill_item"> 
                    <div class="skill_point">  
                        <h3 class="skill_point_title">Powershell</h3>
                        <span class="skill_perc">60%</span>
                    </div>   
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>   
                </div>           
            </div>    
        </div>  


        <div class="skill_close">
            <i class="fas fa-window-restore"></i>
            <div class="skill_title">Software <i class="fas fa-chevron-right"></i></div> 
            <div class="skill_list col-lg-6 padding">
                <div class="skill_item"> 
                    <div class="skill_point">  
                        <h3 class="skill_point_title">Visual Studio Code</h3>
                        <span class="skill_perc">90%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>   
                </div>
                <div class="skill_item">
                    <div class="skill_point">
                        <h3 class="skill_point_title">PyCharm</h3>
                        <span class="skill_perc">90%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>
                </div>
                <div class="skill_item"> 
                    <div class="skill_point">                  
                        <h3 class="skill_point_title">Xcode</h3>
                        <span class="skill_perc">70%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>   
                </div>
                  <div class="skill_item">
                    <div class="skill_point">
                        <h3 class="skill_point_title">Git</h3>
                        <span class="skill_perc">80%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>
                </div>

                <div class="skill_item"> 
                    <div class="skill_point">                                         
                        <h3 class="skill_point_title">Android Studio</h3>
                        <span class="skill_perc">50%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>   
                </div>

                <div class="skill_item"> 
                    <div class="skill_point">                                         
                        <h3 class="skill_point_title">Microsoft SQL Server</h3>
                        <span class="skill_perc">90%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>   
                </div>
 
                <div class="skill_item"> 
                    <div class="skill_point">                  
                        <h3 class="skill_point_title">Microsoft Dynamics 365 Business Central</h3>
                        <span class="skill_perc">100%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>   
                </div>
                
                <div class="skill_item"> 
                    <div class="skill_point"> 
                        <h3 class="skill_point_title">Microsoft RDLC Report Designer</h3>
                        <span class="skill_perc">100%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>   
                </div>

                <div class="skill_item"> 
                    <div class="skill_point"> 
                        <h3 class="skill_point_title">Office suite</h3>
                        <span class="skill_perc">90%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>   
                </div>
            </div>  
        </div>  

        <div class="skill_close">
            <i class="fas fa-laptop"></i> 
            <div class="skill_title">Operating systems <i class="fas fa-chevron-right"></i></div> 
            <div class="skill_list col-lg-6 padding">
                <div class="skill_item"> 
                    <div class="skill_point">                 
                        <h3 class="skill_point_title">Microsoft Windows</h3>
                        <span class="skill_perc">90%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>   
                </div>
                <div class="skill_item"> 
                    <div class="skill_point">                                          
                        <h3 class="skill_point_title">macOs</h3>
                        <span class="skill_perc">70%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>   
                </div>
                <div class="skill_item"> 
                    <div class="skill_point">                   
                        <h3 class="skill_point_title">iOs</h3>
                        <span class="skill_perc">70%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>   
                </div>
            </div>     
        </div>  

        <div class="skill_close">
            <i class="fas fa-language"></i>
            <div class="skill_title">Languages<i class="fas fa-chevron-right"></i></div> 
            <div class="skill_list col-lg-6 padding">
                <div class="skill_item"> 
                    <div class="skill_point">                 
                        <h3 class="skill_point_title">Italian</h3>
                        <span class="skill_perc">100%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>   
                </div>
                <div class="skill_item"> 
                    <div class="skill_point">                  
                        <h3 class="skill_point_title">English</h3>
                        <span class="skill_perc">80%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>   
                </div>
                <div class="skill_item"> 
                    <div class="skill_point">                 
                        <h3 class="skill_point_title">Japanese</h3>
                        <span class="skill_perc">40%</span>
                    </div>
                    <div class="skill_bar">
                        <span class="skill_level"></span>
                    </div>   
                </div>
            </div>  
        </div>  

        <div class="skill_close">
            <i class="far fa-lightbulb"></i>
            <div class="skill_title">Soft skills <i class="fas fa-chevron-right"></i></div> 
            <div class="skill_list col-lg-6 padding">
                <div class="skill_item"> 
                    <div class="skill_point">                  
                        <h3 class="skill_point_title">Teamwork</h3>
                    </div>
                </div>
                <div class="skill_item"> 
                    <div class="skill_point"> 
                        <h3 class="skill_point_title">Adaptibility</h3>
                    </div>
                </div>
                <div class="skill_item"> 
                    <div class="skill_point">                                         
                        <h3 class="skill_point_title">Collaboration</h3>
                    </div>
                </div>
                <div class="skill_item"> 
                    <div class="skill_point">                 
                        <h3 class="skill_point_title">Organization</h3>
                    </div>
                </div>
                <div class="skill_item"> 
                    <div class="skill_point">  
                        <h3 class="skill_point_title">Problem-solving</h3>
                    </div>
                </div>
            </div>  
          
        </div>
        <a href="{{url_for('curriculum') }}" download><button type="button" class="btn btn-primary btn_custom" id="download_cv">Download My CV</button></a>
    </section>

{% include "footer.html" %}